<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>
</head>

<body>
  <div class="nhap">
    <form action="/insert" method="post">
      <label for="name">Tên sản phẩm</label> <br>
      <input type="text" id="inputName" name='name'> <br>
      <label for="nameKhongDau">Tên Không Dấu</label> <br>
      <input type="text" id="inputNameKhongDau" name="nameKhongDau"> <br>

      <label for="img">địa chỉ hình ảnh minh họa</label> <br>
      <input type="text" id="inputImg" name="img"> <br>
      <label for="cateId">Mã giao dịch</label> <br>
      <input type="text" id="inputCateId" name="cateId"> <br>
      <label for="des">Mô tả</label> <br>
      <input type="text" id="inputDes" name="des"> <br>

      <label for="price">giá sản phẩm</label> <br>
      <input type="text" id="inputPrice" name="price"> <br>
      <label for="soLuong">Tên Không Dấu</label> <br>
      <input type="text" id="inputSoLuong" name="soLuong"><br>
      <input type="submit">
    </form>
    <table class="xem">
      <thead>
        <tr>
          <th>Tên sản phẩm </th>
          <th>Tên không dấu sản phẩm</th>
          <th>Hình ảnh</th>
          <th>mã giao dịch</th>
          <th>Mô tả</th>
          <th>Giá sản phẩm</th>
          <th>số lượng</th>
        </tr>
      </thead>
      <tbody>
        <% product.map((pro, index) => {%>
        <tr>
          <td> <%- pro.name %> </td>
          <td> <%-pro.nameKhongDau%> </td>

          <td> <img src="<%-pro.img%> " alt=""> </td>
          <td><%-pro.cateId%></td>
          <td> <%-pro.des%></td>
          <td><%-pro.price%></td>
          <td> <%-pro.soLuong%></td>
        </tr>
        <%} ) %>  
      </tbody>
    </table>
  </div>

</body>

</html>